*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top,rgb(159, 5, 116),rgb(38, 0, 70));
}
input{
    outline: none;
    padding: 10px;
    background-color: transparent;
    border: none;
    width: 85%;
    text-align: center;
    height: 50px;
    font-size: 3em;
    font-weight:lighter;
    text-shadow: 1px 2px 2px  rgb(225, 255, 0);
    color: rgb(26, 255, 0);
    font-family: fantasy;
}

._points{
    font-size: 3em;
    color: rgb(136, 255, 255);
    text-shadow:1px 2px 5px turquoise;
}

.countainer{
    margin: auto;
    width: 30%;
    height: 20vh;
}
#time{
    display: flex;
    flex-direction: row;
}
#btns{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    padding: 10px;

}
#btns button{
    width: 28%;
    height: 38px;
    border-radius: 18px;
    border: 1px solid seagreen;
    color: rgb(130, 200, 145);
    font-size: 1.5em;
    font-weight:bolder;
    cursor: pointer;
    transition: 0.6s;
}
#btns button:hover{
    transform: scale(1.15);
    letter-spacing: 4px;
    font-size: 1.4em;
    font-weight: bold;
}

#start{
    background-image: linear-gradient(to right,rgb(210, 4, 107),rgb(97, 0, 157));
}
#stop{
    background-image: linear-gradient(to right,rgb(97, 0, 157),rgb(217, 0, 206),rgb(97, 0, 157));
}
#reset{
    background-image: linear-gradient(to right,rgb(97, 0, 157),rgb(210, 4, 107));
}

.clicked{
    background-color : red !important;
}